[Desktop Entry]
Name=Dripcap
Comment=Caffeinated packet analyzer
Exec=/usr/share/dripcap/dripcap
Terminal=false
Type=Application
Icon=dripcap
Categories=Network;Monitor
StartupNotify=true
